@import "./variables";
@import "./responsive";
@import "./resseting";
@import "./mixin";


header{
    .topHeader{
        background-color: $headerBg;
        color: #fff;
        padding: 20px;
        .adress{
            i{
                font: 24px;
            }
            span{
                font-size: 15px;
                margin-left: 5px;
                font-weight: 600;
            }
        }
        .phone-social{
            .tel{
                font-size: 15px;
                font-weight: 600;
                a{
                    text-decoration: none;
                    color: #fff;
                    margin-left: 2px;
                }
            }
            .mail{
                font-size: 15px;
                margin-left: 15px;
                font-weight: 600;
                a{
                    text-decoration: none;
                    color: #fff;
                    margin-left: 2px;
                }
            }

        }
    }
    .bottomHeader{
        padding: 25px;
        ul{
            margin: 0px;
            padding: 0px;
            li{
               padding: 0px;
                position: relative;
                margin: 0px 10px;
                .inside{
                    position: absolute;
                    width: 150px;
                    background-color: #ccc;    
                @include headerTop;
                }
                &:hover .inside{
                    opacity: 1;
                    transform: translateY(0);
                }  
                &:hover{
                    opacity: 1;
                    transform: translateY(0);
                }
                a{
                    font-size: 16px;
                    color: rgb(25, 16, 92);
                    font-weight: 600;
                    i{
                        font-size: 10px;
                        color: $headerBg;
                        margin-left: 5px;
                    }
                }
            }
        }
        .langContact{
            a{
                font-size: 16px;
                color: rgb(25, 16, 92);
                font-weight: 600;
                i{
                    font-size: 10px;
                    color: $headerBg;
                    margin-left: 5px;
                }
            }
            button{
                padding: 10px 25px;
                border-radius: 30px;
                background-color: $headerBg;
                color: #fff;
                border: none;
                margin-left: 20px;
                transition: .5s ease;
                font-weight: 700;
                &:hover{
                    transform: translateY(-5px);
                }
            }
            #barBtn{
                font-size: 24px;
                cursor: pointer;
                margin-left: 15px;
                display: none;
            }
        }
    }
   
}
